<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<!-- Edit the code below this line -->

<body class="bg-light">
  <div>
    <div class="row">
      <div class="col-12">
        <div class="card border-primary m-2">
          <div class="card-header text-center primary">Rapport</div>
          <div class="card-body ">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">
              {{#each parameters}}
              {{{this.name}}} : {{{this.value}}} <br />
              {{/each}}
            </p>
            <p class="card-text">moment van rapport: {{{currentDate}}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-sm ">
          <thead class="thead-dark">
            <tr>
              {{#each keys}}
              <th scope="row">{{{this}}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each data}}
            <tr>
              {{#each ../keys}}
              <td>{{{lookup .. this}}}</td>
              {{/each}}

              {{/each}}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>